body {
    font-family: "Times New Roman", serif;
    line-height: 1.4;
    margin: 40px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.row {
    margin-bottom: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 15px;
}

.form-table td {
    padding: 4px 2px;
    vertical-align: top;
}

.signature {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.photo-box {
    border: 1px solid #000;
    width: 120px;
    height: 160px;
    float: right;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 14px;
}

@media print {
  .form-footer, .photo-box { display:none; }
  .form-container{border:none}
}
