<!DOCTYPE html>
<html>
<head>
    <title>Danh sách + Thanh tìm kiếm</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Tra cứu thông tin nghĩa vụ quân sự</h1>
    <div class="container"></div>
        <form autocomplete="on" action="/ObjectSearching">
            
            <div class="autocomplete" style="width:250px;">
                <input id="Hovaten" type="text" name="Hovaten" placeholder="Tên thanh niên">
            </div>
            <div class="autocomplete" style="width:150px;">
                <input id="Namsinh" type="text" name="Namsinh" placeholder="Năm sinh">
            </div>
            <div class="autocomplete" style="width:150px;">
                <input id="Thuongtruap" type="text" name="Thuongtruap" placeholder="Ấp">
            </div>
            <input type="submit">
            
        </form>
    </div>
    <br><br><br>
    <table>
        <thead>
            <tr>
                <th width = 250px>Tên</th>
                <th width = 150px>Năm sinh</th>
                <th width = 150px>Ấp</th>
                <th width = 150px>XEM</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in foundObj %}
            <tr>
                <td width = 250px>{{ obj['Hovaten'] }}</td>
                <td width = 150px align="center">{{ obj['Namsinh'] }}</td>
                <td width = 150px align="center">{{ obj['Thuongtruap'] }}</td>
                <td  align="center">
                    <a href="/details?Hovaten={{ obj['Hovaten'] }}&Namsinh={{ obj['Namsinh'] }}&Thuongtruap={{ obj['Thuongtruap'] }}">Xem thêm</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Link external JS -->
    <script src="/static/rootScript.js"></script>
    <script>
        const NameList = {{ Hovaten | tojson }};
    </script>
    <script>
        const yearOfBirthList = {{ Namsinh | tojson }};
    </script>
    <script>
        const CommuneList = {{ Thuongtruap | tojson }};
    </script>
    <script>
    autocomplete(document.getElementById("Hovaten"), NameList);
    </script>
    <script>
    autocomplete(document.getElementById("Namsinh"), yearOfBirthList);
    </script>
    <script>
    autocomplete(document.getElementById("Thuongtruap"), CommuneList);
    </script>
</body>
</html>
